@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  color: var(--foreground);
  background: var(--background);
}
*/

/*============================================================*/
/*                         Variables                          */
/*============================================================*/
:root {

  /* ---------- Colors ---------- */
  --lightgray0: #f7f7f7;
  --lightgray1: #eff2f5;
  --lightgray2: #d3dae2;
  --midgray0: #d1d5da;
  --midgray1: #aaacb3;
  --midgray2: #a0a2a7;

  --text-color-disabled: #616168;
  --text-color-med: #2c2c2e;
  --text-color-dark: #171718;
  
  --accent-color-light: #dae7d9;
  --accent-color-light-1: #b7c7b6;
  --accent-color-0: #98ad97;
  --accent-color-1: #738b72;
  --accent-color-2: #617a60;
  --accent-color-3: #384738;

  --yellow-light: #ece2c8;
  --yellow-light-2: #dbc395;
  --yellow-3: #e0a100;
  
  --alt-color-1: #93b4e5;
  --alt-color-2: #305da0;

  --brown-color-1: #ae6b34;

  /* -------- Font Sizes -------- */
  --font-size-xl: 2rem;
  --font-size-lg: 1.5rem;
  --font-size-md: 1.25rem;
  --font-size-sm: 1.1rem;
  --font-size-xs: 1rem;

  --shadow-1: 1px 1px 7px var(--midgray0);

  --light-border: 1px solid var(--midgray0);
}

/*============================================================*/
/*                       General Styles                       */
/*============================================================*/
* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--lightgray1);
  color: var(--text-color-dark);
}

main {
  padding-inline: 3rem;
  padding-block: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1 {
  font-size: var(--font-size-xl);
  text-align: center;
}
h2 {
  font-size: var(--font-size-lg);
}
h3 {
  font-size: var(--font-size-md);
}
h4 {
  font-size: var(--font-size-sm);
}
h5, h6 {
  font-size: var(--font-size-xs);
}

li {
  padding-inline-start: .5rem;
  list-style-position: inside;
  list-style-type: disc;
}

a {
  /*color: var(--alt-color-2);*/
  color: var(--text-color-dark);
}

label {
  font-weight: bold;
  font-size: 1.1rem;
  padding-inline-start: 4px;

  h4 {
      display: inline;
  }
}

img {
  image-rendering: pixelated; /* make pixel art images not blur */
}



/*============================================================*/
/*                           Header                           */
/*============================================================*/
header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-inline: 1rem;
  padding-block: .5rem;
  background-color: var(--accent-color-1);
  box-shadow: 1px 1px 7px var(--midgray2);

  .lefthead > * {
    display: inline;
  }

  a:has(#site-logo) {
    padding-inline-start: .25rem;
  }

  #site-logo {
    margin-inline-end: 1rem;
    height: 88px;
    display: inline;
  }

  #logintab {
    justify-self: end;
  }

  #hamburgerbtn {
    display: none;
  }
  
  /*.dropdown {
      display: inline-block;
  }
  .dropdown:hover .dropdown-content {
      display: block;
  }
  .dropdown-start {
      font-weight: bold;
      padding-inline: 1rem;
      padding-block: .5rem;
  
      &:hover {
          background-color: var(--accent-color-3);
      }
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      z-index: 1;
  
      a {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-decoration: none;
          background-color: var(--lightgray0);
          color: var(--text-color-med);
          padding-inline: .5rem;
          padding-block: .125rem;
          font-size: .9rem;
  
          img {
              width: 32px;
              margin-inline-end: 4px;
          }
  
          &:hover {
              background-color: var(--lightgray2);
          }
      }
  }*/
  
  a, button {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--text-color-med);
    padding-inline: .75rem;

    &:hover {
      color: var(--lightgray0);
    }
  }

}


@media screen and (max-width: 575px) {
  header nav { 
    padding-inline: .5rem;
    
    #site-logo {
      margin-inline-end: .25rem;
      height: 66px;
      display: inline;
    }

    #hamburgerbtn {
      display: inline;
      padding: .75rem;
      border: 1px solid var(--accent-color-2);
      border-radius: .5rem;
      margin-inline-end: .5rem;
    }

    .navtabs {
      display: none;
    }

    .blocktabs {
      & * { 
        display: block;
      }
    }

    &:has(.blocktabs) {
      display: block;
    }


  }
}

/*============================================================*/
/*                           Forms                            */
/*============================================================*/
form { 
  display: flex;
  flex-direction: column;
  align-items: center;

  & * {
    display: block;
    margin-block: .5rem;
  }
}


input[type='text'], input[type='email'], input[type='password'] {
  width: min(80%, 20rem);
  padding-inline: 1rem;
  padding-block: .5rem;
  border: var(--light-border);
  border-radius: 1.25rem;
}

input[type='checkbox'] {
  margin-inline-end: 1rem;
}

button[type='submit'] {
  padding-inline: 2rem;
  padding-block: .5rem;
  border-radius: 2rem;
  background-color: var(--accent-color-3);
  color: var(--lightgray0);
  font-size: var(--font-size-sm);
  font-weight: 500;

  &:hover {
    background-color: var(--accent-color-1);
  }
}

/*============================================================*/
/*                           Tables                           */
/*============================================================*/
table {
  border: 1px solid var(--midgray2);

  tr+tr {
    border-block-start: 1px solid var(--midgray1);
  }

  td {
    padding-inline: .5rem;
    padding-block: .125rem;
  }

  tr:nth-child(even) {

    td {
      background-color: var(--midgray0);
    }


  }
  .labelcell {
    font-weight: bold;
  }
}


/*============================================================*/
/*                         Utilities                          */
/*============================================================*/


.chevron-btn {
  margin-inline: 0.5rem;
  color: var(--text-color-disabled);
}

.villager-pic-lg {
  width: 262px; /* 2 * 128px (image size) + 6px border */
  margin-block: 1rem;
  background-color: var(--midgray0);
  border: 3px solid var(--midgray1);
  padding-block-start: 4px;

}

.cardlink {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  padding-block-end: .5rem;
  border: 1px solid var(--midgray1);
  border-radius: 1rem;
  background-color: var(--lightgray0);
  box-shadow: var(--shadow-1);


  img.villagerphoto {
    min-width: 140px;
    width: 140px;   /* photos are 128x128, +8px padding +4 border */
    max-width: 140px;
    background-color: var(--lightgray1) /*var(--accent-color-light) var(--yellow-light)*/;
    padding-block-start: 4px;
    padding-inline: 4px;
    border: 2px solid var(--midgray0) /*var(--accent-color-light-1) var(--yellow-light-2)*/;
  }

  p {
    font-size: var(--font-size-md);
    font-weight: bold;
    margin-block-start: .25rem;
    margin-block-end: 0;
  }
}


.card {
  /*margin: 1rem;*/
  margin: .625rem;
  /*padding: 1rem;*/
  padding-inline: 1rem;
  padding-block: .75rem;
  border: 1px solid var(--midgray1);
  border-radius: 1rem;
  background-color: var(--lightgray0);
  box-shadow: var(--shadow-1);

  &:has(input:checked) {
      background-color: var(--midgray0);
  }

  &:has(.card input:not(:checked)) { /* not all subtasks are completed */
    background-color: var(--lightgray0);
  }

  .bottom-border {
    padding-block-end: .5rem;
    border-block-end: 1px solid var(--midgray1);
  }

  .right-check-container {
      display: flex;
      justify-content: space-between;
  }

  h5 {
      margin-block-start: .75rem;
      margin-block-end: .125rem;
  }
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline: 1rem;
}

.thin-card {
  min-width: 15rem;
  width: 18rem;
}

.item-pic {
  width: 48px;
  height: auto;
}






.monsterlist li {
  list-style-type: none;
  /*
  display: flex;
  flex-direction: row;
  align-items: center;*/

  img {
      /*max-height: 32px;
      max-width: 24px;*/
      padding-block: 2px;
      padding-inline-end: 10px;
  }
}

.inline-list {
  li {
      display: inline;
      list-style: none;
      padding-inline-start: 0;
  }

  li:not(li:last-child):after {
      content: " \2022 "
  }
}

/* --------------- IconLinks --------------- 
.iconimg {
  max-height: 32px;
  max-width: 32px;
  width: auto;
  height: auto;
  
  padding-block: 2px;
  margin-inline-end: 6px;
}

.icon-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}*/




