/**
 * MODULE:  styles/globals.css
 * 
 * SUMMARY:
 *   Defines base styles that are applied across the entire application.
 * 
 * USED BY:
 *   - all pages
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*============================================================*/
/*                         Variables                          */
/*============================================================*/
:root {

  /* ---------- Colors ---------- */
  --lightgray0: #f7f7f7;
  --lightgray1: #eff2f5;
  --lightgray2: #d3dae2;
  --midgray0: #d1d5da;
  --midgray1: #aaacb3;
  --midgray2: #a0a2a7;

  --text-color-disabled: #616168;
  --text-color-med: #2c2c2e;
  --text-color-dark: #171718;
  
  --accent-color-light: #dae7d9;
  --accent-color-light-1: #b7c7b6;
  --accent-color-0: #98ad97;
  --accent-color-1: #738b72;
  --accent-color-2: #617a60;
  --accent-color-3: #384738;
  --accent-color-bright: #72a775;

  --yellow-light: #ece2c8;
  --yellow-light-2: #dbc395;
  --yellow-3: #e0a100;
  --brown-color-0: #c6913b;
  --brown-color-1: #ae6b34;
  --brown-color-2: #774524;
  
  --alt-color-1: #93b4e5;
  --alt-color-2: #305da0;


  /* -------- Font Sizes -------- */
  --font-size-xl: 2rem;
  --font-size-lg: 1.5rem;
  --font-size-md: 1.25rem;
  --font-size-sm: 1.1rem;
  --font-size-xs: 1rem;
  --font-size-xxs: 0.9rem;


  /* ------- Card Widths -------- */
  --card-width-thin: 12rem;
  --card-width-full: 100%;


  /* ----- Borders/Shadows ------ */
  --shadow-1: 1px 1px 7px var(--midgray0);
  --light-border: 1px solid var(--midgray0);
  
} /* end :root */

/*============================================================*/
/*                       General Styles                       */
/*============================================================*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  /* Apply font to entire page */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: var(--lightgray1);
  color: var(--text-color-dark);
}

main {
  padding-inline: 3rem;
  padding-block: 2rem;
}

li {
  padding-inline-start: .5rem;
  list-style-position: inside;
  list-style-type: disc;
}

a {
  /*color: var(--alt-color-2);*/
  color: var(--text-color-dark);
}

label {
  font-weight: bold;
  font-size: 1.1rem;
  padding-inline-start: 4px;

  /* Prevent users from selecting text */
  user-select: none;

  h4 {
      display: inline;
  }
}

img {
  image-rendering: pixelated; /* make pixel art images not blur */
}

/* ======================== Headings ======================== */
h1, h2, h3, h4, h5, h6 { /* all headings */
  font-weight: bold;
}

h1 {
  font-size: var(--font-size-xl);
  text-align: center;
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
}

h4 {
  font-size: var(--font-size-sm);
}

h5, h6 {
  font-size: var(--font-size-xs);
}


/*============================================================*/
/*                           Forms                            */
/*============================================================*/
form { 
  display: flex;
  flex-direction: column;
  align-items: center;

  & * {
    display: block;
    margin-block: .5rem;
  }
}

/* ========================= Inputs ========================= */
input[type='text'], input[type='email'], input[type='password'] {
  width: min(80%, 20rem);
  padding-inline: 1rem;
  padding-block: .5rem;
  border: var(--light-border);
  border-radius: 1.25rem;
}

input[type='checkbox'] {
  margin-inline-end: 1rem;
}

button[type='submit'] {
  padding-inline: 2rem;
  padding-block: .5rem;
  border-radius: 2rem;
  background-color: var(--accent-color-3);
  color: var(--lightgray0);
  font-size: var(--font-size-sm);
  font-weight: 500;

  &:hover {
    background-color: var(--accent-color-1);
  }
}

/*============================================================*/
/*                           Tables                           */
/*============================================================*/
table {
  border: 1px solid var(--midgray2);

  tr+tr { /* all rows except the first row of a table */
    border-block-start: 1px solid var(--midgray1);
  }

  td {
    padding-inline: .5rem;
    padding-block: .125rem;
  }

  tr:nth-child(even) td { /* even rows */
    td {
      background-color: var(--midgray0);
    }
  }

  &.col1head td:not(td+td) { /* first cell in a row only */
    font-weight: bold;
  }
}


/*============================================================*/
/*                         Utilities                          */
/*============================================================*/

/* ========================== Misc ========================== */
.item-pic {
  width: 48px;
  height: auto;
}

.link:hover {
  font-weight: bold;
  text-decoration: underline;
}

.itemphoto {
  width: 48px;
}

.itemlink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: .75rem;
  
  p {
    padding-block-start: .25rem;
    font-size: var(--font-size-xs);
    line-height: 1.125;
  }
}

.bottom-border {
  padding-block-end: .5rem;
  border-block-end: 1px solid var(--midgray1);
}

/* ====================== Icon Styling ====================== */
.chevron-btn {
  margin-inline: 0.5rem;
  color: var(--text-color-disabled);
}

/* ====================== Font Styles ======================= */
.medium-font-weight { font-weight: 500; }

.xl-font  { font-size: var(--font-size-xl);  }
.lg-font  { font-size: var(--font-size-lg);  }
.md-font  { font-size: var(--font-size-md);  }
.sm-font  { font-size: var(--font-size-sm);  }
.xs-font  { font-size: var(--font-size-xs);  }
.xxs-font { font-size: var(--font-size-xxs); }


/* ========================== Cards ========================= */
.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline: 1rem;
}

.card {
  margin: .625rem;
  padding-inline: 1rem;
  padding-block: .75rem;
  border: 1px solid var(--midgray1);
  border-radius: 1rem;
  background-color: var(--lightgray0);
  box-shadow: var(--shadow-1);

  &:has(input:checked) {
    background-color: var(--midgray0);
  }

  &:has(.card input:not(:checked)) { /* not all subtasks are completed */
    background-color: var(--lightgray0);
  }

  .right-check-container {
    display: flex;
    justify-content: space-between;
  }

  h5 {
    margin-block-start: 0.75rem;
    margin-block-end: 0.125rem;
  }
}

/* ======================= Card Links ======================= */
.cardlink {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  padding-block-end: .5rem;
  border: 1px solid var(--midgray1);
  border-radius: 1rem;
  background-color: var(--lightgray0);
  box-shadow: var(--shadow-1);


  img.villagerphoto {
    min-width: 140px;
    width: 140px;   /* photos are 128x128, +8px padding +4 border */
    max-width: 140px;
    background-color: var(--lightgray1);
    padding-block-start: 4px;
    padding-inline: 4px;
    border: 2px solid var(--midgray0);
  }

  p {
    font-size: var(--font-size-md);
    font-weight: bold;
    margin-block-start: 0.25rem;
    margin-block-end: 0;
  }
}

/* ======================= Card Sizes ======================= */
.card-tiny {
  max-width: 10rem;
  width: 10rem;
  min-width: 10rem;
}

.card-thin {
  max-width: 15rem;
  width: 25cqw; /* 25% container width */
  min-width: 13rem;
}

.card-full {
  width: 100%;
  margin-block-start: .5rem;
  margin-block-end: .25rem;
}

.card-wide {
  max-width: 22rem;
  width: 45cqw; /* 45% container width */
  min-width: 17rem;
}