.iconimg {
  width: auto;
  height: auto;
  
  padding-block: 2px;
  margin-inline-end: /*10px*/ 6px;
  display: inline;
}

.iconlabel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.xxsicon {
  /*max-height: 16px;*/
  max-width: 16px;
  height: auto;
}

.xsicon {
  /*max-height: 24px;*/
  max-width: 24px;
  height: auto;
}

.smicon {
  /*max-height: 32px;*/
  max-width: 32px;
  height: auto;
  /*object-fit: contain;*/
}
